@import "tailwindcss";

body {
  background: oklch(12.9% 0.042 264.695);
  color: #e5e7eb;
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

.scanner-container {
  position: relative;
}

#reader video {
  width: 100%;
  height: auto;
}

.qr-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.qr-box {
  width: 250px;
  height: 250px;
  border: 3px solid #00ff88;
  border-radius: 12px;
}
